@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.slider {
    width: 100%;
    height: 80vh;
    aspect-ratio: 16/9;
    background: #000;
    position: relative;
}

.slider-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(45%);
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color: plum;
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 100px;
    color: purple;
}

p {
    font-size: 1.5rem;
    line-height: 1.5em;
}

.slider-content p {
    color: hotpink;
    font-size: 2rem;
    font-weight: 500;
}

.section {
    padding: 100px 0;
}

.boxed {
    max-width: 1280px;
    margin-inline: auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.dark {
    background: black;
    color: #fff;
}

.w110 {
    width: 100%;
}

.w100 {
    width: 100%;
    color: blueviolet;
}

.w25 {
    width: 25%;
}

.w32 {
    width: 32%;
}

.text-center {
    text-align: center;
}

.gap150 {
    gap: 150px;
}

.skill {
    background: fuchsia;
    border-radius: 15px;
    padding: 20px;
}

.skill img {
    width: 100px;
    aspect-ratio: 1/1;
}

.skill h3 {
    margin-top: 10px;
}

.icon {
    display: block;
    font-size: 40px;
    color: fuchsia;
}

.label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.5rem;
    color: fuchsia;
}

.value {
    display: block;
    color: fuchsia;
}

.contact {
    border: 2px dashed fuchsia;
    border-radius: 5px;
    padding: 15px;
}
